<script src="modules/candidatos/radar.js"></script>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h3>Comparativo de candidatos</h3>
      <div class="checkbox" ng-repeat="candidato in candidatos">
        <label>
        <input type="checkbox" ng-model="candidato.selecionado" ng-change="atualizaCheckbox()">{{candidato.nome}}</input>
         </label>
      </div>
    </div>
    <div class="col-lg-6">
      <p>Notas no Comparativo de Propostas</p>
      <grafico-radar dados-candidato="{{comparativo.dados}}" legenda="{{comparativo.legenda}}"></grafico-radar>
    </div>
    <div class="col-lg-6">
      <p>Notas Médias no Teste cego</p>
      <grafico-radar dados-candidato="{{testeCego.dados}}" legenda="{{testeCego.legenda}}"></grafico-radar>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-6" ng-repeat="(key, candidato) in candidatos | filter:{selecionado:'true'}">
      <p>{{candidato.nome}}</p>
      <grafico-radar dados-candidato="{{candidato.notas}}"></grafico-radar>
    </div>
  </div>
</div>
